@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;
@using HairSalon.Models;

<h1>Stylist Profile</h1>
<hr />
<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h2>
<h2>@Html.DisplayNameFor(model => model.Specialization): @Html.DisplayFor(model => model.Specialization)<h2>

<ul>
  @if (@Model.Clients.Count == 0)
  {
    <h3>No clients</h3>
  }

  <p>Total clients: @Model.Clients.Count</p>
  @foreach (Client client in @Model.Clients)
  {
    <li class="stylist">@Html.ActionLink($"{client.Name}", "Details", "Clients",new { id = client.ClientId}, null)</li>
  }
</ul>

<button class="btn btn-light" id="see">@Html.ActionLink("Add a New Client", "Create", "Clients")</button>
<button class="btn btn-light" id="see">@Html.ActionLink("Back to Stylists", "Index")</button>
<button class="btn btn-light" id="see">@Html.ActionLink("Edit", "Edit", new { id = Model.StylistId })</button>
<button class="btn btn-light" id="see">@Html.ActionLink("Delete", "Delete", new { id = Model.StylistId })</button>